.cabecalho{
    display: flex;
    padding: 3em;

    
}

    


.img_logo {
    height: 55px;
    font-weight: 55px;
}



.icones__img1{
    height: 55px;
    width: 55px;
 
    
    
}
.icones__img1{
margin-right: 40% ;
    
}
.icones__img2{
    
        
    }

.logo__principal, .logo{
    display: inline-block;
    width: 49%;
}

.logo {
    
}
